# Evaluation Background Job settings
BACKGROUND_EVAL_MATCHES=5
EVALUATION_UPDATE_SHEET=true
EVALUATION_PARALLEL_WORKERS=6
EVALUATION_ENABLE_GIF=1
EVALUATION_TIMING_LOGS=1

# Google Drive / Sheets credentials (now located in secrets/ directory)
LEADERBOARD_CREDENTIALS_FILE=secrets/service_account_credentials.json
LEADERBOARD_SPREADSHEET_ID=YOUR_LEADERBOARD_SPREADSHEET_ID
LEADERBOARD_SHEET_RANGE='Leaderboard!A1'
DRIVE_FOLDER_ID=YOUR_DRIVE_FOLDER_ID
DRIVE_OAUTH_CLIENT_SECRETS=secrets/client_secrets.json
DRIVE_OAUTH_TOKEN_FILE=secrets/token.json

# Timeout settings (in seconds)
EVALUATION_STARTUP_TIMEOUT_S=20

# Registration App config
REGISTRATION_WEBHOOK_AUTH_TOKEN=YOUR_WEBHOOK_AUTH_TOKEN
REGISTRATION_PORT=5000

# Discord Webhook
DISCORD_HIGHLIGHTS_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL

# Personal Github Token
GITHUB_TOKEN=YOUR_GITHUB_TOKEN

# ngrok personal token
NGROK_AUTHTOKEN=YOUR_NGROK_AUTHTOKEN

# Important Links (for reference only, uncomment to use locally if needed)
# REGISTRATION_WEBHOOK_URL=YOUR_NGROK_URL/register
# AppScript for Registration: YOUR_APP_SCRIPT_URL
# AppScript for Submission: YOUR_APP_SCRIPT_URL
# Google Sheet Leaderboard: YOUR_SHEET_URL
# Submission Form: YOUR_FORM_URL
# Registration Form: YOUR_FORM_URL
# Drive Logs: YOUR_DRIVE_URL
# Drive Submissions: YOUR_DRIVE_URL
